<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About This website</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> About Flask </h1>
    <p> This website is an demo for the python programming seminar</p>
    <p> This example is made by Kirthi Vignesh,Kishore and Kishorevel.</p>
    <p> This site is based of https://www.freecodecamp.org/news/how-to-build-a-web-application-using-flask-and-deploy-it-to-the-cloud-3551c985e492/ </p>
    {% endblock %}
  </body>
</html>
